.App {
  text-align: center;
  display: block;
}
button{
  color: white;
  font-size: 25px;
  margin-left: 5px;
  border-radius: 10px;
  background-color: rgb(23, 107, 139); 
  border-color: transparent;
  padding: 5px;
  transition: all 0.5s ease-in;
}
button:hover{
  background-color:rgb(119, 119, 241); 
}